@font-face {
    font-family: "Helvetica Now Text";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/HelveticaNowText-Regular.otf) format('otf');
}

@font-face {
    font-family: "Helvetica Now Text";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/HelveticaNowText-Medium.otf) format('otf');
}

@font-face {
    font-family: "Helvetica Now Text";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/HelveticaNowText-Bold.otf) format('otf');
}


body {
    font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
}


/* ------------------------------- Top header ------------------------------- */
.header-top {
    background-color: #f5f5f5;
    height: 45px;
    padding: 0 36px 0 36px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.menu-list {
    display: flex;
}

.menu-list > * + * {
    margin-left: 10px;
}

.menu-list li {
    font-size: 12px;
    font-weight: 600;
}

.menu-list li > * + * {
    margin-left: 10px;
}

.menu-list li a {
    text-decoration: none;
    color: #111;
}

.menu-list li a:hover {
    color: #757575;
}


/* ------------------------------ Bottom header ----------------------------- */
.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 36px 0 36px;
}

.logo-container {
    width: 59px;
    height: 59px;
    margin: 1px 0;
}

.logo-svg {
    transform: scale(1.33);
    width: 100%;
    height: 100%;
}

.nav-search-container {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-list li {
    font-size: 16px;
    font-weight: 600;
}

.nav-list > * + * {
    margin-left: 10px;
}

.nav-list li a {
    text-decoration: none;
    color: #111;
    padding: 14px;
}

.nav-list li a:hover {
    border-bottom: 2px solid #111;
}

.pre-sub-nav-container {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    max-height: 300px;
    background-color: #fff;
    z-index: 1000;
}

.sub-nav-container {
    margin: 0 auto;
    padding: 40px 350px 0 350px;
}

.sub-nav-list {
    max-width: 1344px;
    display: flex;
    justify-content: space-between;
}

.sub-nav-item a {
    text-decoration: none;
    color: #111;
    font-weight: 600;
}

.search-bar-container {
    position: relative;
    top: 0;
    left: 180px;
    width: 100px;
}

.search-bar {
    width: 100%;
    background-color: #f5f5f5;
    border: none;
    padding: 10px 48px;
    border-radius: 30px;
}

.search-bar::placeholder {
    color: #999;
    font-size: 16px;
    font-weight: 600;
}

.search-bar:hover {
    background-color: #e5e5e5;
}

.search-btn {
    position: absolute;
    display: flex;
    padding: 6px;
    top: 1px;
    left: 1px;
    background-color: transparent;
    border: none;
    border-radius: 30px;
}

.search-btn:hover {
    background-color: #e5e5e5;
}

.acc-btn-group {
    display: flex;
}

.acc-btn-group > * + * {
    margin-left: 15px;
}

.mob-search-btn {
    display: none;
}

.acc-btn,
.burger-btn {
    background-color: transparent;
    display: flex;
    border: none;
    border-radius: 30px;
    padding: 6px;
}

.acc-btn:hover {
    background-color: #e5e5e5;
}

.burger-btn {
    display: none;
}


.main-container {
    padding: 20px 48px 0 48px;
}


/* ------------------------------- Wall header ------------------------------ */
.wall-header {
    padding: 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-title {
    font-size: 24px;
    transform: scale(0.75);
    transform-origin: left center;
}

.sort-container {
    position: relative;
}

.sort-options {
    display: flex;
}

.sort-options span {
    color: #757575;
    cursor: pointer;
}

.sort-options > * + * {
    margin-left: 5px
}

.arrow-icon {
    transition: all 0.4s ease;
}

.arrow-up {
    transform: rotate(180deg);
}

.arrow-down {
    transform: rotate(0deg);
}

.sort-options-dropdown {
    position: absolute;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 300px;
    width: 100%;
    border-radius: 0 0 0 20px;
    margin-top: 10px;
    padding: 10px 0;
}

.sort-options-dropdown > * + * {
    margin-top: 10px;
}

.sort-option-btn {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: end;
}

.sort-option-btn:hover {
    color: #757575;
}

.sort-btn-active {
    color: #757575;
}


/* ---------------------------- Product container --------------------------- */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
}

.product-card-container {
    /* width: 80%; */
    display: inline-block;
    position: relative;
}

.product-card-body {
    position: relative;
    max-width: 592px;
}

.product-card-body > * + * {
    margin-top: 10px;
}

.product-image-container {
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    background-color: #f5f5f5;
    padding: 10px;
}

.product-image {
    max-width: 100%;
    max-height: auto;
    position: relative;
    vertical-align: middle;
    left: 50%;
    transform: translate(-50%);
    height: 400px;
    width: 592px;
    object-fit:cover;
}

.product-card-info {
    min-height: 120px;
}

.product-info-text > * + * {
    margin-top: 8px;
}

.product-card-info > * + * {
    margin-top: 20px;
}

.product-title {
    color: #111;
    font-size: 16px;
    font-weight: 500;
}

.product-category {
    color: #757575;
    font-size: 16px;
}


/* ------------------------------- Responsive ------------------------------- */
@media only screen and (max-width: 1200px) {
    .nav-list {
        display: none;
    }
    
    .search-bar-container {
        display: none;
    }

    .heart-btn {
        display: none;
    }

    .mob-search-btn {
        background-color: transparent;
        display: flex;
        border: none;
        border-radius: 30px;
        padding: 6px;
    }

    .burger-btn {
        display: block;
    }

    .product-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 960px) {
    .product-image {
        width: 300px;
        height: 320px;
    }
}

@media only screen and (max-width: 640px) {
    .product-image {
        height: 240px;
    }

    .header-top {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .category-title {
        display: none;
    }

    .sort-container {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .sort-options-dropdown {
        top: 10px;
    }

    .product-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .product-image {
        height: 260px;
    }
}